html {
    margin:0;
    overflow:hidden;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width:100vw;
    display:block;
}

.SpreadshHeaderDiv {
    position:relative;
    z-index:2;
    display: block;
    padding: 7px;
    background-color:lightgrey;
    height: 12vh;
}


.SpreadshBody {
    display:grid;
    grid-template-columns: 1fr auto;
    grid-template-rows:auto;
    box-sizing:border-box;
    width:100%;
    height:87vh;
    padding: 7px;
    column-gap:10px;
}

.SpreadshDataContainer {
    overflow: hidden;
    height:86vh;
}

.DataGridElement {
    block-size:unset;
    height:inherit;
}

.DedupPanel {
    width:300px;
    background-color:aliceblue;
    border-radius: 10px 10px;
    display:grid;
    grid-template-rows:50px auto 50px;
    height:inherit;
    overflow:hidden;
    padding:7px;
}

.DedupPanel-header {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.DedupPanel-form {
    display:block;
    overflow:auto;  
}

.SelectKeyDiv {
    display:flex;
    margin-top:10px;
    column-gap:10px;
}

